
/*logo column styled*/
.first-col {
  display: flex;
  align-items: center;
  width: 100%;
}

/* Stilizează logo-ul */
.logo {
  width: 100px; /* Ajustează dimensiunea logo-ului */
  border-radius: 50%; /* Creează un cadru circular */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Adaugă o umbră ușoară */
  transition: transform 0.3s ease; /* Adaugă o animație la hover */
}

.logo:hover {
  transform: scale(1.1); /* Mărește logo-ul la hover */
}

.main-section {
  margin: 20px;
  padding: 10px;
  border: #fafafa 2px;
}
.top-title { 
  text-align: center;
  font-weight: 700;
  padding: 20px;
  color:#8c4006;
 
}

.homepage {
  margin: 10px;
  padding: 4px;
  border: 5px;
}
.startShieldSTSH {
  color: #38aaf1;
  text-decoration: double;
  font-weight: bold;
} 

.setSection {
  margin: 20px 5px 10px 5px;
  border: #000 1px;
  padding: 1px;
}

.first-row{
  margin-left: 0px;
  margin-top: 0px;
}

.first-col {
  background-color: #f6f6f6;
  margin-left: 0px;
  margin-top: 0px;
}
/* Circular frame for images */
img.circular-frame {
  border-radius: 50%;
}

/* Circular frame for feature and benefit sections */
.feature-circle,
.benefit-circle {
  border-radius: 50%;
  border: 2px solid #007bff; /* You can adjust the color */
  padding: 20px;
  margin: 20px auto;
  max-width: 300px; /* Adjust as needed */
  text-align: center;
}

/* Additional styling for the benefit section */
.benefit-circle {
  background-color: #f9f9f9; /* Light gray background */
}
.titl-section {
  margin: 10px;
  padding: 10px;
  border: 5px;
}

.overview {
  border-image: fill 0 linear-gradient(#0001, #000);
}
col { text-align: center;}
.overview p {
  color:#f3c6a3;
  text-align: justify;
   margin:100px 40px 1px 10px ;
   text-decoration:wavy;
   text-shadow: #0b0501;
   border-image: fill 0 linear-gradient(#0001, #000);
}

.top-subtitle {
  color: #fafafa;
}

