.bop-page {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    box-shadow: 1px 1px 3px #111, -1px -1px 3px #ddd;
    margin-top: 14px;
  }
  
  h1, h2 {
    color: #003366;
  }
  
  p, ul, ol {
    margin-bottom: 15px;
  }
  
  ul {
    list-style-type: square;
    margin-left: 20px;
  }
  
  ol {
    margin-left: 20px;
  }
  
  form {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #fefefe;
    border-radius: 5px;
  }
  
  label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: #003366;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 20px;
  }
  
  button:hover {
    background-color: #002244;
  }
  
  .design-container {
    margin-top: 33px;
    margin-bottom: 18px;
  }
  .quote-form {
    background-color: #e7f0f9;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: contents;
  }
  
  .claim-form {
    background-color: #f9e7e7;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* width: 400px; */
    display: contents;
  }
  
  .policy-management button {
    margin-right: 10px;
  }
  
  .convert-tokens-button {
    background-color: #336699;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #111, -5px -5px 10px #ddd;
    padding: 10Spx;
  }
  
  .buy-now-button {
    background-color: #007BFF;
    margin-top: 10px;
  }

  .buy-now-button {
    background-color: #003366;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .buy-now-button:hover {
    background-color: #002244;
  }

  .small-icons {
   width: 60px;
   height: 60px;
   vertical-align: 'middle';
   margin-right: 10px;
   box-shadow: 5px 5px 10px #111, -5px -5px 10px #ddd;
  }
  .medium-icons {
    width: 160px;
    height: 160px;
    vertical-align: 'middle';
    margin-right: 10px;
    box-shadow: 5px 5px 10px #111, -5px -5px 10px #ddd;
    margin-right: 143px;
   }