.hero {
    /* height: 800px; */
    background-size: cover;
    background-position: center;
    /* position: relative; */
    background-color: rgb(159, 92, 223);
    z-index: 1;
    /* Ensure it doesn't cover other elements */
    /* margin-top: 70px; */
}

.navbar {
    z-index: 2;
    /* Ensure navbar stays on top */
}

.hero h1,
.hero h2 {
    color: white;
}

.hero h1 {
    font-size: 60px;
    padding-top: 140px;
    margin-top: 0;
}